.paragraph_style {
    color: rgb(33, 33, 33);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-family: 'Cambria';
    font-size: 26px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
}
.paragraph_style_1 {
    color: rgb(157, 41, 70);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'Cambria';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.style_2 {
    font-family: 'Cambria';
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.style_3 {
    font-family: 'Cambria';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.style_4 {
    font-family: 'Cambria';
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.style_5 {
    font-family: 'Cambria';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}
.style_6 {
    font-family: 'Cambria';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.style_7 {
    font-family: 'Cambria-Italic', 'Cambria';
    font-size: 16px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
}
.style_8 {
    font-family: 'Cambria-Italic', 'Cambria';
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
}
.style_9 {
    font-family: 'Cambria';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.paragraph_style_2 {
    color: rgb(1, 25, 147);
    font-family: 'Futura-CondensedExtraBold', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(33, 33, 33);
    font-family: 'Cambria';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_10 {
    font-family: 'Cambria';
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.paragraph_style_4 {
    color: rgb(255, 38, 0);
    font-family: 'Cambria-Italic', 'Cambria';
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(33, 33, 33);
    font-family: 'Cambria';
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(33, 33, 33);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_11 {
    font-family: 'Cambria';
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
.paragraph_style_7 {
    color: rgb(33, 33, 33);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_8 {
    color: rgb(33, 33, 33);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_12 {
    font-family: 'Cambria';
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.paragraph_style_9 {
    color: rgb(33, 33, 33);
    font-family: 'ColonnaMT', 'Colonna MT';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 33px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_10 {
    color: rgb(0, 0, 0);
    font-family: 'Cambria';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.02em;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: -27px;
    margin-right: 45px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_13 {
    font-family: 'Cambria';
    font-size: 26px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
}
.style_14 {
    color: rgb(33, 33, 33);
    font-family: 'Cambria';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 1.00;
}
.paragraph_style_11 {
    color: rgb(116, 88, 41);
    font-family: 'Cambria-BoldItalic', 'Cambria';
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.02em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: -27px;
    margin-right: 45px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_15 {
    font-family: 'Cambria-BoldItalic', 'Cambria';
    font-size: 8px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 14px;
    vertical-align: 4px;
}
.paragraph_style_12 {
    color: rgb(33, 33, 33);
    font-family: 'Cambria';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_16 {
    font-family: 'Cambria';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_SkipStrokeSkipFillSkipOpacity_1 {
}
.paragraph_style_13 {
    color: rgb(33, 33, 33);
    font-family: 'Cambria';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_17 {
    font-family: 'Cambria';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.style_18 {
    color: rgb(93, 82, 75);
    font-family: 'Cambria';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    opacity: 1.00;
}
.style_19 {
    font-family: 'Cambria-Bold', 'Cambria';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
.paragraph_style_14 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: -27px;
    margin-right: 45px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_15 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: -27px;
    margin-right: 45px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_20 {
    font-family: 'Helvetica-Oblique', 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 12px;
}
.paragraph_style_16 {
    color: rgb(0, 0, 0);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 12px;
    margin-bottom: 0px;
    margin-left: -27px;
    margin-right: 45px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_17 {
    color: rgb(151, 144, 124);
    font-family: 'Baskerville-Bold', 'Baskerville', 'Times New Roman', serif;
    font-size: 21px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_21 {
    font-family: 'Cambria';
    font-size: 26px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.paragraph_style_18 {
    color: rgb(33, 33, 33);
    font-family: 'Baskerville', 'Times New Roman', serif;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_22 {
    font-family: 'Cambria';
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.style_23 {
    font-family: 'Cambria';
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.paragraph_style_19 {
    color: rgb(33, 33, 33);
    font-family: 'Cambria';
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_24 {
    font-family: 'Cambria';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.paragraph_style_20 {
    color: rgb(33, 33, 33);
    font-family: 'Cambria-Bold', 'Cambria';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_25 {
    font-family: 'Cambria-Bold', 'Cambria';
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.paragraph_style_21 {
    color: rgb(80, 80, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 8px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_26 {
    color: rgb(148, 33, 147);
    font-family: 'Baskerville-SemiBoldItalic', 'Baskerville', 'Times New Roman', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 600;
    line-height: 16px;
    opacity: 1.00;
}
.style_27 {
    color: rgb(163, 37, 161);
    font-family: 'Cambria-BoldItalic', 'Cambria';
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 16px;
    opacity: 1.00;
}
.style_28 {
    color: rgb(163, 37, 161);
    font-family: 'Arial-BoldItalicMT', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 16px;
    opacity: 1.00;
}
.paragraph_style_22 {
    color: rgb(80, 80, 77);
    font-family: 'Cambria';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_29 {
    font-family: 'Playbill';
    font-size: 36px;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
}
.paragraph_style_23 {
    color: rgb(80, 80, 77);
    font-family: 'Cambria';
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_30 {
    font-family: 'GillSans-UltraBold', 'Gill Sans Ultra Bold';
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
}
.style_31 {
    font-family: 'Cambria';
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.style_32 {
    font-family: 'Cambria';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.Caption {
    color: rgb(80, 80, 77);
    font-family: 'HoeflerText-Italic', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(80, 80, 77);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_header_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_2_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_4_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_344_302 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_276_221 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_404_214 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_299_275 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_354_243 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_327_311 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_222_253 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_283_39 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_160_102 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_196_393 {
    position: relative;
}
.graphic_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(147, 141, 122);
    text-decoration: underline;
}
a:visited {
    color: rgb(147, 141, 122);
    text-decoration: underline;
}
a:hover {
    color: rgb(80, 80, 77);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(80, 80, 77);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(147, 141, 122);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(147, 141, 122);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
